<%include partials/header%>

<div class="container">
    <div class="row">
        <h1 style="text-align: center; padding-top: 5%;"><%=blog.title%></h1>
        <div class="well" style="max-width: 50%; margin: 0 auto">
            <img style="max-width: 150%; width: 100%;" src="<%=blog.image%>">
            <p><%=blog.created.toDateString()%></p>
            <p><%=blog.body%></p>
            <p>
                <a href="/blogs/<%=blog._id%>/edit" class="btn btn-info btn-block" role="button">Edit</a>
            <form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-block">Delete</button>
            </form>
            </p>
        </div>
    </div>
</div>

<%include partials/footer%>